@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: rgb(222, 222, 217);
  --text: rgb(40, 40, 36);
  --fg: rgb(40, 40, 36);
}

.dark {
  --bg: rgb(29, 29, 25);
  --fg: rgb(222, 222, 217);
  --text: rgb(222, 222, 217);
}

body {
  background-color: var(--bg);
  color: var(--text);
}